* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	height: 100%;
}

body{
	font-family: Verdana, Arial, sans-serif;
	/*display: flex;
	flex-direction: column;*/
	/*align-items: center;
	justify-content: center;*/
}

nav{
	/*position: fixed;
	top: 0;*/
	width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    justify-content: flex-end;
}

nav ul{
	display: flex;
	align-items: center;
	list-style-type: none;
}

nav ul li a{
	text-decoration: none;
    color: #fff;
    font-size: 15px;
    margin: 15px;
}

.container{
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	padding: 15px;
	margin: auto;
}

.form-container{
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    margin: 30px auto auto;
    box-shadow: 0px 2px 7px -1px grey;
    padding: 30px;
    border-radius: 10px;
}

.form-container h1{
	font-size: 25px;
	margin-bottom: 15px;
}

.form-container form{
	width: 70%;
}

.form-container .field{
	display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-container input{
	padding: 10px;
    border-radius: 10px;
    border: 1px solid #d4d4d4;
}

.form-container label{
	font-size: 15px;
	margin: 5px;
}

.form-container .btn-submit{
	height: 35px;
    width: 150px;
    border: none;
    color: #fff;
    background-color: #000;
    margin: auto;
    font-size: 15px;
    cursor: pointer;
}

.form-container .link{
	text-decoration: none;
    color: #154db7;
    font-size: 15px;
    margin: 20px auto;
}

.errors, .success{
    padding: 10px 40px;
    margin: 20px;
    border-radius: 10px;
}

.errors{
	background-color: #fda7a7;
    color: #bb3d3d;
}

.success{
	background-color: #7fe882;
    color: #245618;
}

.btn-email-verify{
	width: 100px;
	height: 30px;
	border: none;
	background-color: #000;
	color: #fff;
	cursor: pointer;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-btn{
	background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 15px;
}

.dropdown-icon{
	display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.dropdown-content{
	display: none;
	background-color: #d4d4d4;
	position: absolute;
	min-height: 30px;
}

.dropdown-content a{
	color: #000;
	display: block;
}

.row{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 20px;
}

/*.row>*{
	padding-left: 10px;
	padding-right: 10px;
}*/

.column{
	width: 50%;
}

.turmas, .alunos{
    color: #fff;
    padding: 35px;
}

.turmas p, .alunos p{
	margin-bottom: 10px;
}

.turmas{
	background-color: #ec1919;
	margin-right: 10px;
}

.alunos{
	background-color: #1ead1c;
	margin-left: 10px;
}

.button-add-container{
	display: flex;
	justify-content: flex-end;
	margin-bottom: 20px;
}

.btn-add{
	color: #000;
	border: none;
	padding: 20px 40px;
	cursor: pointer;
}

.modal{
	display: none;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
	overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal .modal-content{
	background-color: #fefefe;
	padding: 50px;
	border: 1px solid #888;
	width: 50%;
	position: relative;
}

.modal .modal-content .title-delete{
	margin-bottom: 20px;
}

.modal .modal-content a{
	text-decoration: none;
}

.modal-content .close{
	position: absolute;
	top: 0;
	right: 10px;
	align-self: flex-end;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

table{
	border-collapse: collapse;
	margin-top: 20px;
}

th{
	background-color: #0a0d58;
	color: #fff;
}

th, td{
	padding: 15px;
	text-align: center;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

.btn-danger, .btn-edit{
	border: none;
	text-decoration: none;
	padding: 10px 20px;
	cursor: pointer;
	color: #fff;
	border-radius: 10px;
}

.btn-danger{
	background-color: #ce0000;
	color: #fff;
}

.btn-edit{
	background-color: orange;
	color: #000;
	margin-right: 5px;
}

.title-detail{
	color: #fff;
    background-color: #0dbf0d;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    margin-bottom: 30px;
}

.add-aluno{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.show{
	display: block;
}

@media(max-width: 500px){
	.form-container{
		width: 90%;
	}
	.form-container form{
		width: 100%;
	}
	.column{
		width: 100%;
	}
	.modal .modal-content{
		width: 90%;
	}
}

@media(min-width: 768px){
	.row-cols-md-2>*{
		flex: 0 0 auto;
    	width: 50%;
	}
}